.card-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 300px));
}

.card {
    background-color: white;
    border: 2px solid var(--theme-color);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    max-height: 400px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    overflow: hidden;
    box-shadow: 10px 5px 6px var(--theme-select-color);
    transition: width .2s ease-in-out;
}

.card-header {
    background-color: white;
    overflow: hidden;
    padding: 10px 0 0 5px;
}

.card-footer {
    background-color: white;
    overflow: hidden;
}

.card-footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 5px 0;
}

.card-footer-element {
    display: grid;
    width: 50%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.twitter-icon {
    width: 50%;
    height: 50%;
    opacity: .5;
}

.card-main {
    color: var(--text-color);
    background-color: var(--theme-select-color);
    max-height: 250px;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    .card-container {
        grid-template-columns: repeat(3, 240px);
    }
}

@media screen and (max-width: 500px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}