.header {
    background-color: var(--theme-color);
    color: var(--text-color);
    display: grid;
    grid-template-rows: 60% 40%;
}

.header-title {
    padding: 25px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-nav {
    text-align: center;
    display: flex;
}

.header-nav a {
    color: var(--text-color);
    text-decoration: none;
}

.header-nav li {
    display: inline;
    padding: 5px 20px;
    transition: transform .2s;
}

.header-nav a:hover {
    padding: 5px 5px;
    border-radius: 10%;
    background-color: var(--theme-select-color);
}

.header-nav li.active {
    font-weight: bold;
    background-color: var(--theme-select-color);
    border-radius: 10%;
}