/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */

:root {
    --theme-color: #006633;
    --theme-select-color: #488f6c;
    --text-color: #fff;
}

body {
    margin: 0px;
    background-color: lightgray;
    border: 0;
    display: grid;
    grid-template-rows: 100px 1fr;
    font-family: Helvetica, sans-serif;
}

.header {
    background-color: var(--theme-color);
    color: var(--text-color);
    display: grid;
    grid-template-rows: 60% 40%;
}

.header-title {
    padding: 25px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-nav {
    text-align: center;
    display: flex;
}

.header-nav a {
    color: var(--text-color);
    text-decoration: none;
}

.header-nav li {
    display: inline;
    padding: 5px 20px;
    transition: transform .2s;
}

.header-nav a:hover {
    padding: 5px 5px;
    border-radius: 10%;
    background-color: var(--theme-select-color);
}

.header-nav li.active {
    font-weight: bold;
    background-color: var(--theme-select-color);
    border-radius: 10%;
}

.main {
    background-color: lightgray;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    background-color: white;
    border: 2px solid var(--theme-color);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    min-height: 150px;
    min-width: 200px;
    max-width: 250px;
    overflow: hidden;
    box-shadow: 10px 5px 6px var(--theme-select-color);
}

.card-header,
.card-footer {
    background-color: white;
    overflow: hidden;
}

.card-footer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 5px 0;
}

.card-footer-element {
    display: grid;
    width: 50%;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.twitter-icon {
    width: 50%;
    height: 50%;
    opacity: .5;
}

.card-main {
    color: var(--text-color);
    background-color: var(--theme-select-color);
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}