/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */

:root {
    --theme-color: #006633;
    --theme-select-color: #488f6c;
    --text-color: #fff;
}

body {
    margin: 0px;
    background-color: lightgray;
    border: 0;
    display: grid;
    grid-template-rows: 100px 1fr;
    font-family: Helvetica, sans-serif;
}

.main {
    background-color: lightgray;
}