/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */

body {
    margin: 0px;
    border: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.top,
.footer {
    width: 100%;
    background: #333;
    padding: 10px 0;
    color: #fff;
}

.top {
    top: 0;
    text-align: center;
    font-size: large;
}

.footer {
    position: fixed;
    bottom: 0;
}

.main {
    width: 100%;
    margin: 0;
    display: flex;
    align-self: center;
    align-items: center;
}

.nav-panel {
    width: 8%;
    text-align: left;
}

.main {
    width: 92%;
}

/* Some more styles to beutify this example */
.nav-panel a {
    color: rgb(9, 82, 13);
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.card {
    background-color: #222;
    color: white;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    height: 250px;
    overflow: hidden;
    font-size: 1.25rem;
    position: relative;
    box-shadow: 10px 10px 10px green;
}

.card-header {
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-bottom: 2px solid green;
}

.card-content {
    padding: 0 2px;
}

.card-footer{
    position: absolute;
    bottom: 10px;
}

.card-chars {
    right: 15px;
}

.card-edit-button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.card-edit-button:hover {
    font-size: 1rem;
    color: white;
    background-color: green;
}